div
  label(for='text') Enter Color Value (ex. red, green) :
  input#color-input(type='text', value='#{self.color}')
div
  label(for='text') Enter Size of the box (ex. 50, 70) :
  input#size-input(type='text', value='#{self.size}')