body
  padding-top 60px

#result
  font  bold italic 110% sans-serif
  color blue

#config-input
  padding 20px

#color-boxes
  display         inline
  list-style-type none

#sortable-box
  padding-left 20px
  margin-top   -20px

#show-data
  clear   both
  padding 20px

.colorbox__rectangle__styled
  margin  20px
  float   left
  border  2px solid

.sortable__container
  border          1px solid #d3d3d3
  min-width       202px
  max-width       220px
  overflow-y      scroll
  overflow-x      hidden
  float           left
  list-style-type none
  margin          0 10px 0 0
  padding         0 0 2.5em
  height          250px
  padding         10px 15px 5px 5px

.sortable__item
  font-size   1.2em
  width       180px
  margin      0 5px 5px 5px
  padding     5px
  cursor      default
  border      1px solid #d3d3d3
  white-space pre-line

.sortable__container__big
  float           left

.footer
  height  5em