extends includes/layout

block content

  script(src='vendor/head.load-0.99.min.js')

  :coffeescript
    head.js 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js',
      "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js",
      { example : "js/example.js?#{+new Date()}" }
    
  
  // main loader
  :coffeescript
    head.ready "example", ->
      {boxer} = ExamplePackage

      # if DOM ready
      $ ->
        boxer()

  script#color-box-template(type="text/x-jquery-tmpl")
    <div style="margin: 20px; float: left;height:${width}px; width: ${width}px; background-color: ${color}; border: 2px solid;">
    </div>

  div.container
    h1 Colorbox
    
    div.span12

      div(data-role='page', data-theme='b')
        div(data-role= 'header')

        div.container_12(data-role='content', data-theme= 'd')
          div#config-input(style='padding: 20px')
            div(data-role='fieldcontain')
              label(for='text') Enter Color Value (ex. red, green) :
              input#color-input(type='text', value='blue')
            div(data-role='fieldcontain')
              label(for='text') Enter Width of the box (ex. 50, 70) :
              input#width-input(type='text', value='100')

          ul#color-boxes(style='display: inline; list-style-type:none;')

        div(data-role= 'footer')

