extends includes/layout

block content

  .container
    h1 Backdone.ViewModel demo page
    
    .span6

      p
        | This is sute of different example of Backbone.ViewModel.

      p 
        | Main point - some Views may use one Model through different ViewModel, 
        | in this case all Views will synchronized internally.

      p 
        | With ViewModel its unneded any external message bus or mediators or somthing else.
        | All projections of one model tied in one complecs and do care of itself state.

      p 
        | I think its cool :)
